html {
	overflow-y: scroll;
}


/*text*/

h1 {
	color: #342E37;
	font-family: sans-serif;
	font-size: 300%;
	text-align: center;
	font-weight: 900;
	background-color: rgb(120,120,120);
	transition: 0.3s ease;
}

h1:hover {
	color: #ffffff;
	font-family: sans-serif;
	font-size: 320%;
	transition: 0.3s ease; 
	text-align: center;
	font-weight: 900;
	background-color: rgb(120,120,120);
}

h2 {
	color: #342E37;
	font-family: sans-serif;
	font-size: 200%;
	text-align: center;
	font-weight: 900;
}
h3 {
	color: #ffffff;
	font-family: sans-serif;
	font-size: 180%;
	text-align: center;
	font-weight: 900;
	text-decoration: underline;
}

h4 {
	color: #ffffff;
	font-family: sans-serif;
	font-size: 160%;
	text-align: center;
	font-weight: 900;
	text-decoration: underline;
}

p {
	color: #342E37;
	font-family: courier;
	text-align: center;
	font-size:110%;
	font-weight: 900;
	margin: 30px;
	text-indent:8ch;
}
p2 {
	color: #ffffff;
	font-family: courier;
	text-align: center;
	font-weight: 900;
}

p3 {
	color: #342E37;
	font-family: courier;
	text-align: center;
	font-size: 110%;
	font-weight: 900;
	margin: 50px;
	text-indent: 8ch;
	background-color: rgb(110,140,210);
}


per_int {
	color: rgb(159,216,203) ;
	font-family: courier;
	text-align: center;
	font-size: 110%;
	font-weight: 900;
	margin: 30px;
	text-indent: 8ch;
}

per_state {
	color: rgb(164,222,249);
	font-family: courier;
	text-align: center;
	font-size: 110%;
	font-weight: 900;
	margin: 50px;
	text-indent: 8ch;
}

#rcorners1 {
	border-radius: 5px;
	background: #575757;
	padding: 2px;
	width:100%;
	
}



CV_txt {
	color: rgb(197,159,201);
	font-family: courier;
	text-align: center;
	font-size: 110%;
	font-weight: 900;
	margin: 30px;
	text-indent: 8ch;
}

#rcorners2 {
	border-radius: 5px;
	background: #575757;
	padding: 2px;
	width:40%;
	margin:0 auto;
	
}


CV_txtln {
	color: rgb(197,159,201);
	font-family: courier;
	text-align: center;
	font-size: 110%;
	font-weight: 900;
	margin: 30px;
	text-indent: 8ch;
	text-decoration:underline;
}


cons_txt {
	color: rgb(87, 74, 226) ;
	font-family: courier;
	text-align: center;
	font-weight: 900;
}
#rcorners3 {
	border-radius: 5px;
	background: #929a9a;
	padding: 2px;
	width: 100%;
}

hack_txt {
	color: rgb(164, 48, 63);
	font-family: courier;
	text-align: center;
	font-weight: 900;
}

log_txt {
	color: rgb(255, 236, 204);
	font-family: courier;
	text-align: center;
	font-weight: 900;
}
this_txt {
	color: rgb(237, 106, 90);
	font-family: courier;
	text-align: center;
	font-weight: 900;
}

cont_txt {
	color: rgb(172, 62, 201);
	font-family: courier;
	text-align: center;
	font-weight: 900;
}
L {
	color: #342E37;
	font-family: courier;
	text-align: center;
}

body {
	background-color: #342E37;
	text-align: center;
}

/*images*/

img.image1 {
	width: 250px;
	height: 380px;
	border: 5px solid #000000;
	transition: 0.3s ease;
	border-radius: 5px;
}

	img.image1:hover {
		width: 260px;
		height: 390px;
		border: 5px solid #ffffff;
		
	}

img.image2 {
	width: 25%;
	height: 25%;
	
}

img.tile {
	width: 200px;
	height: 200px;
	border: 5px solid #000;
	border-radius: 8px;
	transition: 0.3s ease;
}

img.tile:hover{
	width: 200px;
	height: 200px;
	border: 5px solid #fff;
	
}

img.tile2 {
	width: 200px;
	height: 200px;
	border: 5px solid #000;
	border-radius: 5px;
}

img.image3 {
	width: 150px;
	height: 150px;
}

img.image3:hover {
	width: 160px;
	height: 160px;
}

img.image4 {
	width: 10%;
	height: 10%;
	transition: 0.3s ease;
}
img.image4:hover {
	width: 25%;
	height: 25%;
}

img.image5 {
	width: 25%;
	height: 25%;
	transition: 0.3s ease;
}

img.image5:hover {
	width: 50%;
	height: 70%;
}
img.arrow {
	width:10%;
	height:10%;
	position:center;
	transition: .8s ease;
}

img.arrow:hover {
	width: 11%;
	height: 11%;
	position: center;
	
}

